table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 20px;
}
.color {
  background-color: yellow;
}
.hs {
  background-color: orange;
}

.left {
  float: left;
  width: 50%;
}
.right {
  float: right;
  width: 50%;
}
.turn {
  text-align: right;
}
